{% load static %}
<!DOCTYPE html>
<html> 
<head> 
    <title>{% block title %} Maintenance {% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/mystyles.css' %}" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <style>
        body {
            background-color: whitesmoke;
            margin-left: 5mm;
            margin-right: 5mm;
            text-align: center;
        }
        
    </style>
</head> 

<body>
    <h2>The site is currently under maintenance</h2>
    <h4>We'll be back soon...</h4>
    <h4>Sorry for any inconveniencies</h4>

    <footer id="copyright"></footer>
</body>

</html>


