@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        url(/static/fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(/static/fonts/MaterialIcons-Regular.woff) format('woff'),
        url(/static/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    white-space: nowrap;
    direction: ltr;
    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


/* my custom css */
body {
    background-color: aliceblue;
}

.one {
    margin-left: 5mm;
    margin-right: 5mm;
}

header {
    background-color: aliceblue;
    margin-left: 5mm;
    margin-right: 5mm;
}

.card-title {
    margin-left: 10mm;
    margin-right: 10mm;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
}

.side-bar {
    margin-top: 21px;
    border: 1px solid rosybrown;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(234, 238, 238);
    width: 45%;
    max-height: 50vh;
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

#m_update {
    position: sticky;
    bottom: 5px;
    float: right;
    margin-right: 10px;
}


