{% load static %}
<!DOCTYPE html>
<html> 
<head> 
    <title>{% block title %} Quantity Surveying {% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="{% static 'css/mystyles.css' %}" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head> 
<body> 
    <div>
    <nav>
        <div class="nav-wrapper teal">
            <a href="{% url 'home' %}" class="brand-logo one">Take Off</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down"> 
                <li><a href="{% url 'help' %}">Help</a></li>
            </ul>
        </div>
    </nav>
    <div class="one">
    {% if user.is_authenticated %} 
        <p style="color:orange">Logged in as {{ user.username }}!</p> 
        <p><a href="{% url 'logout' %}">Log out</a></p>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% else %} 
        <p>You are not logged in.</p> 
        <p><a href="{% url 'login' %}">Log in</a> or <a href="{% url 'signup' %}">Register</a></p>
    {% endif %}
    </div>
    </div>

    <div>
        {% block content %} 
        {% endblock content %} 
    </div> 

    <div class="footer">
        <p id="copyright"></p>
    </div>

</body> 
</html>







