{% extends 'base.html' %}
{% block title %} Main {% endblock title %}
{% block content %}
        <h4 class="one">Quantities Take-Off</h4>  <br>

        <!--Centre Line-->
<div class="wrapper">
    <div class="main">
        <div class="one">
            <form class="card" id="cnt" style="border-radius: 15px">
                <div class="row">
                    <p class="card-title" style="padding-top: 3mm">Centre Line Calculation</p>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="length" type="number" name="length" value="2000" required>
                        <label for="length">Length</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="width" type="number" name="width" value="1500" required>
                        <label for="width">Width</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="wallThickness" type="number" name="wallThickness" value="200" required>
                        <label for="wallThickness">Wall Thickness</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="one">
            <!--External wall construction-->
            <form class="card" style="border-radius: 15px">
                <div class="row">
                    <p class="card-title" style="padding-top: 3mm">External Wall Construction</p>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="wallH" type="number" name="wallH" value="3000" required>
                        <label for="wallH">Wall Height</label>
                    </div>    
                </div>
            </form>
        </div>

        <!--Doors-->
        <div class="one">
            <form class="card" id="doorForm" style="border-radius: 15px">
                
                <p class="card-title" style="padding-top: 3mm">Doors</p>
                <p id="addAnother" class="btn-floating waves-effect waves-light one" onclick="addDoorInput('dynamicInput_1');" > 
                    <i class="material-icons">add</i> 
                </p>
                <p id="dRemove" class="btn-floating waves-effect waves-light"> <i class="material-icons">remove</i> </p> <br>
                <div id="dynamicInput_1">
                    <div class="one">
                        <p>Door 1</p>
                        <div class="input-field col s12">
                            <label for="length1">Width</label>
                            <input type="number" name="length1" id="length1" value="900"> <br>
                        </div>
                        <div class="input-field col s12">
                            <label for="height1">Height</label>
                            <input type="number" name="height1" id="height1" value="2100"> 
                        </div>
                    </div>
                </div> <br>
            </form>
        </div>

        <!--Windows-->
        <div class="one">
            <form class="card" id="winForm" style="border-radius: 15px">
                
                <p class="card-title" style="padding-top: 3mm">Windows</p>
                <p id="addAnotherW" class="btn-floating waves-effect waves-light one" onclick="addWinInput('dynamicInput_2');" > 
                    <i class="material-icons">add</i> 
                </p>
                <p id="wRemove" class="btn-floating waves-effect waves-light"> <i class="material-icons">remove</i> </p> <br>
                <div id="dynamicInput_2">
                    <div class="one">
                        <p>Window 1</p>
                        <div class="input-field col s12">
                            <label for="width1">Width</label>
                            <input type="number" name="width1" id="width1" value="600"> <br>
                        </div>
                        <div class="input-field col s12">
                            <label for="height1">Height</label>
                            <input type="number" name="height1" id="height1" value="600">
                        </div>
                    </div>
                </div> <br>
            </form> 
        </div>
    </div>



    <!--Side bar (displays the results)-->
    <div class="one side-bar hide-on-med-and-down">
        <button id="update" class="btn waves-effect waves-light green lighten-1 one"> Update
            <i class="material-icons left">replay</i>
        </button> <br>
        <div class="one">
            <div class="hide-on-med-and-down">
                <h3 id="animation">Results</h3>
            </div>
            <p id="side-bar-centre-line"></p>
            <p id="side-bar-wall-constr"></p>
            <p id="side-bar-eWall-fin"></p>
            <p id="side-bar-iWall-fin"></p>
            <p id="side-bar-floor-fin"></p>
        </div>
    </div>

</div>

        
{% endblock content %}
