{% extends 'base.html' %}
{% block title %} Main {% endblock title %}
{% block content %}
        <h4 class="one">This is the Main Page</h4>  <br>
        <button  value="Update All" id="updateAll" class="btn waves-effect waves-light one"> Update All
            <i class="material-icons left">replay</i>
        </button> <br>

        <!--Centre Line-->
        <div class="one" style="width: 400px; float: left;">
            <form class="card" id="cnt">
            <div class="row">
            <span class="card-title">Centre Line Calculation</span>
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="length" type="number" name="length" value="2000" required>
                <label for="length">Length</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="width" type="number" name="width" value="1500" required>
                <label for="width">Width</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="wallThickness" type="number" name="wallThickness" value="200" required>
                <label for="wallThickness">Wall Thickness</label>
            </div>
            </div>
            
            <h4 class="one" id="centreLine"></h4>
            </form>

        </div>

        <!--Wall Construction-->
        <div class="one" style="width: 400px; float: left;">
            <form class="card">
                <div class="row">
                    <span class="card-title">External Wall Construction</span>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="wallH" type="number" name="wallH" value="3000" required>
                        <label for="wallH">Wall Height</label>
                    </div>    
                </div>
            
                <h4 class="one"id="wallConstr"></h4>
                <h3 class="one" id="doorArea"></h3>
            </form>

            <!--Doors-->
            <form class="card" id="doorForm">
                
                <span class="card-title">Doors</span> <br>
                <p id="addAnother" class="btn-floating waves-effect waves-light" onclick="addDoorInput('dynamicInput_1');" > <i class="material-icons">add</i> </p>
                <p id="dRemove" class="btn-floating waves-effect waves-light"> <i class="material-icons">remove</i> </p> <br>
                <div id="dynamicInput_1">
                    <div class="one">
                        <p>Door 1</p>
                        <label for="length1">Length</label>
                        <input type="number" name="length1" id="length1" value=""> <br>
                        <label for="height1">Height</label>
                        <input type="number" name="height1" id="height1" value="">
                    </div>
                </div> <br>
            </form> <br>   
        </div>
        
{% endblock content %}
